* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0px;
  background: #02132b;
}

.container {
  width: 600px;
  margin: 0 auto; /* 置中 */
  padding-top: 100px;
}

.title-container,
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f0f0f0;
  font-size: 48px;
}

.todo-input {
  height: 40px;
  width: 90%;
  font-size: 20px;
  padding-left: 16px;
  border-radius: 8px;
  border: 0;
}

.create-button {
  height: 39px;
  width: 39px;
  font-size: 16px;
  padding: 0;
  border: 2px solid #f0f0f0;
  color: #f0f0f0;
  border-radius: 8px;
  background: transparent; /* 透明底色 */
  cursor: pointer;
  margin-left: 16px;
  transition: 0.3s;
}

.create-button:hover {
  color: #02132b;
  background: #f0f0f0;
}

.info-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
  font-size: 16px;
}

.item-container {
  margin-top: 32px;
  padding: 32px;
  border: 2px solid #f0f0f0;
  border-radius: 8px;
}

.todo-item-container {
  width: 100%;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin-top: 20px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.todo-item-container:first-child {
  margin-top: 0;
}

.todo-text-container {
  width: 70%;
  font-size: 20px;
  word-wrap: break-word;
}

.delete-button {
  width: 32px;
  height: 32px;
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: rgb(255, 98, 98);
  border: 1px solid rgb(255, 98, 98);;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button:hover {
  color: #f0f0f0;
  background: rgb(255, 98, 98);
}

input[type="checkbox"] {
  width: 32px;
  height: 32px;
  border: 0;
  cursor: pointer;
}

.text-completed {
  color:#848484;
  text-decoration: line-through;
}

.edit-button {
  width: 32px;
  height: 32px;
  font-size: 14px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.edit-button:hover {
  color: #02132b;
  background: #f0f0f0;
}

.edit-input {
  height: 38px;
  width: 81%;
  font-size: 20px;
  padding-left: 16px;
  border-radius: 8px;
  border: 0;
}
