:root {
  --theme-color: #003060;
  --text-color: #f0f0f0;
  --danger: rgb(255, 98, 98);
  --gray: #d9d9d9;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  background: var(--theme-color);
}

.container {
  width: 600px;
  margin: 0 auto; /* 置中 */
  padding-top: 100px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}

.title-container,
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--text-color);
  font-size: 48px;
}

.todo-input {
  height: 40px;
  width: 90%;
  font-size: 20px;
  padding-left: 16px;
  border-radius: 8px;
  border: 0;
}

.create-button {
  height: 39px;
  width: 39px;
  font-size: 16px;
  color: var(--text-color);
  background: transparent; /* 透明底色 */
  border: 2px solid var(--text-color);
  border-radius: 8px;
  margin-left: 16px;
}

.create-button:hover {
  color: var(--theme-color);
  background: var(--text-color);
}

.info-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  font-size: 16px;
}

.item-container {
  margin-top: 32px;
  padding: 32px;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  color: var(--text-color);
}

.todo-item-container {
  width: 100%;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  margin-top: 20px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.todo-item-container:first-child {
  margin-top: 0;
}

.todo-text-container {
  width: 63%;
  font-size: 20px;
  word-wrap: break-word;
  /* margin: 0; */
}

input[type="checkbox"] {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.text-completed {
  color: var(--gray);
  text-decoration: line-through;
}

.delete-button {
  width: 32px;
  height: 32px;
  font-size: 14px;
  color: var(--danger);
  background: transparent;
  border: 1px solid var(--danger);
  border-radius: 50%;
}

.delete-button:hover {
  color: var(--text-color);
  background: var(--danger);
}

.edit-button {
  width: 32px;
  height: 32px;
  font-size: 14px;
  color: var(--text-color);
  background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 50%;
}

.edit-button:hover {
  color: var(--theme-color);
  background: var(--text-color);
}

.edit-input {
  height: 38px;
  width: 80%;
  font-size: 20px;
  padding-left: 16px;
  border-radius: 8px;
  border: 0;
}

@media (max-width: 620px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    padding-top: 20px;
  }
  .todo-input {
    padding-left: 8px;
    /* font-size: 16px; */
  }
  .item-container {
    padding: 16px;
  }
  .todo-item-container {
    padding: 4px 12px;
    margin-top: 12px;
    gap: 8px;
  }
  .todo-text-container {
    width: 40%;
    margin: 0px;
    padding: 0px;
    /* font-size: 16px; */
  }
  .edit-input {
    width: 67%;
    padding-left: 8px;
  }
}
