* {
  box-sizing: border-box;
  /* font-family: 'Noto Sans TC', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0px;
  background: #02132b;
}

.container {
  width: 600px;
  margin: 0 auto; /* 置中 */
  padding-top: 100px;
}

.title-container,
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f0f0f0;
  font-size: 48px;
}

.todo-input {
  height: 40px;
  width: 100%;
  font-size: 20px;
  padding-left: 16px;
  border-radius: 8px;
  border: none;
}

/* ::placeholder {
  color: red;
} */

.create-button {
  height: 40px;
  width: 40px;
  font-size: 32px;
  border: 2px solid #f0f0f0;
  color: #f0f0f0;
  border-radius: 8px;
  background: transparent; /* 透明底色 */
  cursor: pointer;
  margin-left: 16px;
  transition: 0.3s;
}

.create-button:hover {
  color: #02132b;
  background: #f0f0f0;
}

.info-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
  font-size: 16px;
}

.total-count,
.completed-count {
  background: #000;
  padding: 2px 12px;
  border-radius: 1rem; /* 膠囊狀 */
}

.item-container {
  margin-top: 32px;
  padding: 32px;
  border: 2px #f0f0f0 solid;
  border-radius: 8px;
}
